ADMIN_USER: {{ ADMIN_USER }}
NOVA_DB_USER: {{ NOVA_DB_USER }}
NOVA_DB_NAME: {{ NOVA_DB_NAME }}
NOVA_API_DB_NAME: {{ NOVA_API_DB_NAME }}
MARIADB_SERVICE_HOST: {{ MARIADB_SERVICE_HOST | ipwrap }}
NOVA_KEYSTONE_USER: {{ NOVA_KEYSTONE_USER }}
ADMIN_TENANT_NAME: {{ ADMIN_TENANT_NAME }}
SERVICE_TENANT_NAME: {{ SERVICE_TENANT_NAME }}
KEYSTONE_PUBLIC_SERVICE_HOST: {{ KEYSTONE_PUBLIC_SERVICE_HOST }}
KEYSTONE_PUBLIC_SERVICE_PORT: {{ KEYSTONE_PUBLIC_SERVICE_PORT }}
KEYSTONE_ADMIN_SERVICE_HOST: {{ KEYSTONE_ADMIN_SERVICE_HOST }}
KEYSTONE_ADMIN_SERVICE_PORT: {{ KEYSTONE_ADMIN_SERVICE_PORT }}
RABBITMQ_USER: {{ RABBITMQ_USER }}
RABBITMQ_HOSTS: {{ RABBITMQ_HOSTS }}
GLANCE_API_SERVICE_HOST: {{ GLANCE_API_SERVICE_HOST }}
NETWORK_MANAGER: {{ NETWORK_MANAGER }}
PUBLIC_INTERFACE: {{ PUBLIC_INTERFACE }}
PUBLIC_PROTOCOL: {{ PUBLIC_PROTOCOL }}
INTERNAL_PROTOCOL: {{ INTERNAL_PROTOCOL }}
FLAT_INTERFACE: {{ FLAT_INTERFACE }}
NEUTRON_SHARED_SECRET: {{ NEUTRON_SHARED_SECRET }}
NEUTRON_URL: {{ NEUTRON_URL }}
NEUTRON_KEYSTONE_USER: {{ NEUTRON_KEYSTONE_USER }}
VERBOSE_LOGGING: {{ NOVA_VERBOSE_LOGGING }}
DEBUG_LOGGING: {{ NOVA_DEBUG_LOGGING }}
LOGGING_FORMAT_PLAIN: "{{ LOGGING_FORMAT_PLAIN }}"
LOGGING_FORMAT_JSON: "{{ LOGGING_FORMAT_JSON }}"
NOVA_CPU_ALLOCATION_RATIO: {{ nova_cpu_allocation_ratio }}
NOVA_RAM_ALLOCATION_RATIO: {{ nova_ram_allocation_ratio }}
NOVA_HOST: {{ NOVA_HOST }}
SECRET_UUID: {{ SECRET_UUID }}
CEPH_CINDER_USER: {{ CEPH_CINDER_USER }}
RBD_POOL: {{ NOVA_RBD_POOL }}
NOVA_BOOT_FROM: {{ NOVA_BOOT_FROM }}
CLUSTER_ID: {{ CLUSTER_ID }}
MON_HOSTS: {{ MON_HOSTS }}
MON_MEMBERS: {{ MON_MEMBERS }}
CLIENT_KEY: {{ CINDER_CLIENT_KEY }}
NOVA_CONFIG_SCRIPT_PATH: {{ docker.nova_compute.host_data_dir }}
IS_NFV_HOST: {{ is_nfv_host }}
COMPUTE_DRIVER: {{ COMPUTE_DRIVER }}
{% if vmcpus is defined %}
VMCPUS: {{ vmcpus }}
{% endif %}
RES_SYS_MEM: {{ RES_SYS_MEM if RES_SYS_MEM is defined else res_sys_mem }}
{% if is_nfv_host == true %}
RES_HP_2M: {{ res_hp_2m }}
RES_HP_1G: {{ res_hp_1g }}
{% endif %}
{% if intel_sriov == true %}
VENDOR_ID: "{{ VENDOR_ID }}"
{% endif %}
{% if VAULT is defined and VAULT.enabled == True %}
# VAULT
VAULT_TOKEN: {{ TOKEN }}
MGMT_IP: {{ build_node_ip | ipwrap }}
PASSWORD_VARS: {{ PASSWORD_VARS }}
{% else %}
ADMIN_USER_PASSWORD: {{ ADMIN_USER_PASSWORD }}
NOVA_DB_PASSWORD: {{ NOVA_DB_PASSWORD }}
DB_ROOT_PASSWORD: {{ DB_ROOT_PASSWORD }}
NOVA_KEYSTONE_PASSWORD: {{ NOVA_KEYSTONE_PASSWORD }}
NEUTRON_KEYSTONE_PASSWORD: {{ NEUTRON_KEYSTONE_PASSWORD }}
METADATA_PROXY_SHARED_SECRET: {{ METADATA_PROXY_SHARED_SECRET }}
RABBITMQ_PASSWORD: {{ RABBITMQ_PASSWORD }}
VOLUME_ENCRYPTION_KEY: {{ VOLUME_ENCRYPTION_KEY }}
{% endif %}
{% if 'ENABLE_VM_EMULATOR_PIN' in SERVERS[ansible_nodename] %}
ENABLE_VM_EMULATOR_PIN: {{ SERVERS[ansible_nodename]['ENABLE_VM_EMULATOR_PIN'] }}
{% else %}
ENABLE_VM_EMULATOR_PIN: {{ ENABLE_VM_EMULATOR_PIN }}
{% endif %}
{% if 'VM_EMULATOR_PCORES_PER_SOCKET' in SERVERS[ansible_nodename] %}
VM_EMULATOR_PCORES_PER_SOCKET: {{ SERVERS[ansible_nodename]['VM_EMULATOR_PCORES_PER_SOCKET'] }}
{% else %}
VM_EMULATOR_PCORES_PER_SOCKET: {{ VM_EMULATOR_PCORES_PER_SOCKET }}
{% endif %}
ENABLE_CAT: {{ INTEL_RDT.ENABLE_CAT }}
RESERVED_L3_CACHELINES_PER_SOCKET: {{ INTEL_RDT.RESERVED_L3_CACHELINES_PER_SOCKET }}
{% if 'trusted_vf' in SERVERS[ansible_nodename]%}
{% if SERVERS[ansible_nodename]['trusted_vf'] == True %}
TRUSTED_VF: True
{% endif %}
{% endif %}
