IRONIC_INSPECTOR_NETWORK_LINUX_BRIDGES: "{% for port_id in IRONIC_INSPECTOR_NETWORK_DHCP_PORT_IDS %}br-{{ port_id[:11] }} {% endfor %}"
IRONIC_INSPECTOR_NETWORK_SUBNET: {{ IRONIC_INSPECTOR_NETWORK_SUBNET }}
IRONIC_INSPECTOR_NETWORK_DHCP_RANGE: {{ IRONIC_INSPECTOR_NETWORK_DHCP_RANGE }}
IRONIC_INSPECTOR_NETWORK_GATEWAY: {{ IRONIC_INSPECTOR_NETWORK_GATEWAY }}
IRONIC_INSPECTOR_NETWORK_VLAN: {{ IRONIC_INSPECTOR_NETWORK_VLAN }}
DHCP_LEASE_TIME: {{ DHCP_LEASE_TIME }}

# TODO: Change internal_lb_vip_address to IRONIC_INSPECTOR_SERVICE_HOST when ironic network uses IPv6 addresses
IRONIC_INSPECTOR_HOST: {{ internal_lb_vip_address }}
IRONIC_INSPECTOR_PORT: {{ IRONIC_INSPECTOR_PORT }}

# Default ironic-agent images. Needed to ironic inpsector
IRONIC_AGENT_KERNEL: {{ IRONIC_AGENT_KERNEL }}
IRONIC_AGENT_INITRAMFS: {{ IRONIC_AGENT_INITRAMFS }}

IRONIC_DNSMASQ_OVS_BRIDGE: "{{ IRONIC_DNSMASQ_OVS_BRIDGE }}"
DNSMASQ_PXE_FILTER_DHCP_HOSTSDIR: {{ DNSMASQ_PXE_FILTER_DHCP_HOSTSDIR }}

MECHANISM_DRIVERS: {{ MECHANISM_DRIVERS }}
