[Unit]
Description=Nova NoVNCproxy Docker
Wants=docker-novacond.service
After=docker-novacond.service

[Service]
Restart={{ RESTART_OPTION }}
RestartSec=5
StartLimitInterval={{ RESTART_INTERVAL }}
StartLimitBurst={{ RESTART_LIMIT }}
KillMode={{ KILLMODE }}
ExecStart=/usr/bin/docker start -a novanovncproxy_{{ docker.nova_novncproxy.image_tag }}
ExecStop=/usr/bin/docker stop -t 8 novanovncproxy_{{ docker.nova_novncproxy.image_tag }}

[Install]
WantedBy=multi-user.target
