NEUTRON_SHARED_SECRET: {{ NEUTRON_SHARED_SECRET }}
PUBLIC_PROTOCOL: {{ PUBLIC_PROTOCOL }}
INTERNAL_PROTOCOL: {{ INTERNAL_PROTOCOL }}
VERBOSE_LOGGING: {{ NOVA_VERBOSE_LOGGING }}
DEBUG_LOGGING: {{ NOVA_DEBUG_LOGGING }}
LOGGING_FORMAT_PLAIN: "{{ LOGGING_FORMAT_PLAIN }}"
LOGGING_FORMAT_JSON: "{{ LOGGING_FORMAT_JSON }}"
NOVA_CPU_ALLOCATION_RATIO: {{ nova_cpu_allocation_ratio }}
NOVA_RAM_ALLOCATION_RATIO: {{ nova_ram_allocation_ratio }}
{% if VAULT is defined and VAULT.enabled == True %}
# VAULT
VAULT_TOKEN: {{ TOKEN }}
MGMT_IP: {{ build_node_ip | ipwrap }}
PASSWORD_VARS: {{ PASSWORD_VARS }}
{% else %}
ADMIN_USER_PASSWORD: {{ ADMIN_USER_PASSWORD }}
NOVA_DB_PASSWORD: {{ NOVA_DB_PASSWORD }}
DB_ROOT_PASSWORD: {{ DB_ROOT_PASSWORD }}
NOVA_KEYSTONE_PASSWORD: {{ NOVA_KEYSTONE_PASSWORD }}
NEUTRON_KEYSTONE_PASSWORD: {{ NEUTRON_KEYSTONE_PASSWORD }}
METADATA_PROXY_SHARED_SECRET: {{ METADATA_PROXY_SHARED_SECRET }}
RABBITMQ_PASSWORD: {{ RABBITMQ_PASSWORD }}
{% endif %}
