MARIADB_MAX_CONNECTIONS: {{ MARIADB_MAX_CONNECTIONS }}
MARIADB_MAX_CONNECT_ERRORS: {{ MARIADB_MAX_CONNECT_ERRORS }}
MARIADB_SKIP_NAME_RESOLVE: {{ MARIADB_SKIP_NAME_RESOLVE }}
DEFAULT_STORAGE_ENGINE: {{ DEFAULT_STORAGE_ENGINE }}
WSREP_CLUSTER_NAME: {{ WSREP_CLUSTER_NAME }}
DATADIR: {{ MARIADB_DATADIR }}
WSREP_DEBUG: {{ WSREP_DEBUG }}
WSREP_USERNAME: {{ WSREP_USERNAME }}
WSREP_SST_METHOD: {{ WSREP_SST_METHOD }}
WSREP_SST_DONOR: {{ WSREP_SST_DONOR }}
WSREP_CLUSTER_ADDRESS: "{{ WSREP_CLUSTER_ADDRESS }}"
WSREP_NODE_ADDRESS: {{ WSREP_NODE_ADDRESS }}
WSREP_PRIMARY_NODE: {{ WSREP_PRIMARY_NODE }}
internal_lb_vip_address: {{ internal_lb_vip_address }}
{% if VAULT is defined and VAULT.enabled == True %}
# VAULT
VAULT_TOKEN: {{ TOKEN }}
MGMT_IP: {{ build_node_ip | ipwrap }}
PASSWORD_VARS: {{ PASSWORD_VARS }}
{% else %}
DB_ROOT_PASSWORD: {{ DB_ROOT_PASSWORD }}
WSREP_PASSWORD: {{ WSREP_PASSWORD }}
{% endif %}
