[Unit]
Description=Keystone Docker
Wants=docker-mariadb.service
After=docker-mariadb.service

[Service]
Restart={{ RESTART_OPTION }}
RestartSec=5
StartLimitInterval={{ RESTART_INTERVAL }}
StartLimitBurst={{ RESTART_LIMIT }}
KillMode={{ KILLMODE }}
ExecStart=/usr/bin/docker start -a keystone_{{ docker.keystone.image_tag }}
ExecStop=/usr/bin/docker stop -t 8 keystone_{{ docker.keystone.image_tag }}

[Install]
WantedBy=multi-user.target
