RABBITMQ_USER: {{ RABBITMQ_USER }}
RABBITMQ_PORT: {{ RABBITMQ_PORT }}
RABBITMQ_HOSTS: {{ RABBITMQ_HOSTS }}
ADMIN_USER: {{ ADMIN_USER }}
ADMIN_TENANT_NAME: {{ ADMIN_TENANT_NAME }}
SERVICE_TENANT_NAME: {{ SERVICE_TENANT_NAME }}
KEYSTONE_USER: {{ KEYSTONE_USER }}
INIT_DB: {{ INIT_DB }}
KEYSTONE_DB_NAME: {{ KEYSTONE_DB_NAME }}
KEYSTONE_DB_USER: {{ KEYSTONE_DB_USER }}
MARIADB_SERVICE_HOST: {{ MARIADB_SERVICE_HOST | ipwrap }}
VERBOSE_LOGGING: {{ KEYSTONE_VERBOSE_LOGGING }}
DEBUG_LOGGING: {{ KEYSTONE_DEBUG_LOGGING }}
USE_STDERR: {{ USE_STDERR }}
TOKEN_PROVIDER: {{ TOKEN_PROVIDER }}
TOKEN_DRIVER: {{ TOKEN_DRIVER }}
KEYSTONE_TOKEN_EXPIRATION: {{ KEYSTONE_TOKEN_EXPIRATION }}
ASSIGNMENT_DRIVER: {{ ASSIGNMENT_DRIVER }}
CATALOG_DRIVER: {{ CATALOG_DRIVER }}
KEYSTONE_HOST: {{ KEYSTONE_HOST }}
KEYSTONE_PUBLIC_SERVICE_HOST: {{ KEYSTONE_PUBLIC_SERVICE_HOST }}
KEYSTONE_ADMIN_SERVICE_HOST: {{ KEYSTONE_ADMIN_SERVICE_HOST }}
KEYSTONE_API_SERVICE_HOST: {{ KEYSTONE_API_SERVICE_HOST }}
KEYSTONE_PUBLIC_SERVICE_PORT: {{ KEYSTONE_PUBLIC_SERVICE_PORT }}
KEYSTONE_ADMIN_SERVICE_PORT: {{ KEYSTONE_ADMIN_SERVICE_PORT }}
PUBLIC_PROTOCOL: {{ PUBLIC_PROTOCOL }}
INTERNAL_PROTOCOL: {{ INTERNAL_PROTOCOL }}
KEYSTONE_API_VERSION: {{ KEYSTONE_API_VERSION }}
LOCKOUT_FAILURE_ATTEMPTS: {{ KEYSTONE_LOCKOUT_FAILURE_ATTEMPTS }}
LOCKOUT_DURATION: {{ KEYSTONE_LOCKOUT_DURATION }}
UNIQUE_LAST_PASSWORD_COUNT: {{ KEYSTONE_UNIQUE_LAST_PASSWORD_COUNT }}
MINIMUM_PASSWORD_AGE: {{ KEYSTONE_MINIMUM_PASSWORD_AGE }}
DAYS_INACTIVE: {{ KEYSTONE_DAYS_INACTIVE }}
CHANGE_FIRST: {{ KEYSTONE_CHANGE_FIRST }}
PASSWORD_EXPIRES_DAYS: {{ KEYSTONE_PASSWORD_EXPIRES_DAYS }}
{% if LDAP is defined %}
LDAP: {{ ldap }}
LDAP_DOMAIN: {{ LDAP.domain }}
TLS_REQ_CERT: {{ LDAP_TLS_REQ_CERT }}
TLS_CACERTFILE: "{{ CACERT_LOCATION }}/{{ CACERT_FILE }}"
LDAP_URL: "{{ LDAP.url }}"
LDAP_USER: "{{ LDAP.user|default('') }}"
LDAP_PASSWORD: {{ LDAP.password|default('') }}
LDAP_SUFFIX: "{{ LDAP.suffix }}"
LDAP_USER_TREE_DN: "{{ LDAP.user_tree_dn }}"
LDAP_USER_OBJECTCLASS: {{ LDAP.user_objectclass }}
{% if LDAP.user_filter is defined %}
LDAP_USER_FILTER: "{{ LDAP.user_filter }}"
{% endif %}
LDAP_USER_ID_ATTRIBUTE: {{ LDAP.user_id_attribute }}
LDAP_USER_NAME_ATTRIBUTE: {{ LDAP.user_name_attribute }}
{% if LDAP.user_mail_attribute is defined %}
LDAP_USER_MAIL_ATTRIBUTE: {{ LDAP.user_mail_attribute }}
{% endif %}
{% if LDAP.group_filter is defined %}
LDAP_GROUP_FILTER: "{{ LDAP.group_filter }}"
{% endif %}
{% if LDAP.group_member_attribute is defined %}
LDAP_GROUP_MEMBER_ATTRIBUTE: {{ LDAP.group_member_attribute }}
{% endif %}
LDAP_GROUP_TREE_DN: "{{ LDAP.group_tree_dn }}"
LDAP_GROUP_NAME_ATTRIBUTE: {{ LDAP.group_name_attribute }}
LDAP_GROUP_OBJECTCLASS: {{ LDAP.group_objectclass }}
{% if LDAP.group_id_attribute is defined %}
LDAP_GROUP_ID_ATTRIBUTE: {{ LDAP.group_id_attribute }}
{% endif %}
{% if LDAP.group_members_are_ids is defined %}
LDAP_GROUP_MEMBERS_ARE_IDS: {{ LDAP.group_members_are_ids }}
{% endif %}
{% if LDAP.chase_referrals is defined %}
CHASE_REFERRALS: {{ LDAP.chase_referrals }}
{% endif %}
{% endif %}
{% if VAULT is defined and VAULT.enabled == True %}
# VAULT
VAULT_TOKEN: {{ TOKEN }}
MGMT_IP: {{ build_node_ip | ipwrap }}
PASSWORD_VARS: {{ PASSWORD_VARS }}
{% else %}
ADMIN_USER_PASSWORD: {{ ADMIN_USER_PASSWORD }}
KEYSTONE_DB_PASSWORD: {{ KEYSTONE_DB_PASSWORD }}
DB_ROOT_PASSWORD: {{ DB_ROOT_PASSWORD }}
RABBITMQ_PASSWORD: {{ RABBITMQ_PASSWORD }}
{% endif %}
CEILOMETER_ENABLED: {% if NFVIMON is defined or (OPTIONAL_SERVICE_LIST is defined and 'ceilometer' in OPTIONAL_SERVICE_LIST) -%} True {%- else -%} False {%- endif %}

