[Unit]
Description=Ironic Conductor Docker

[Service]
Restart={{ RESTART_OPTION }}
RestartSec=5
StartLimitInterval={{ RESTART_INTERVAL }}
StartLimitBurst={{ RESTART_LIMIT }}
KillMode={{ KILLMODE }}
ExecStart=/usr/bin/docker start -a ironic_conductor_{{ docker.ironic_conductor.image_tag }}
ExecStop=/usr/bin/docker stop -t 8 ironic_conductor_{{ docker.ironic_conductor.image_tag }}

[Install]
WantedBy=multi-user.target
