VERBOSE_LOGGING: {{ IRONIC_VERBOSE_LOGGING }}
DEBUG_LOGGING: {{ IRONIC_DEBUG_LOGGING }}
RABBITMQ_HOSTS: "{{ RABBITMQ_HOSTS }}"
IRONIC_HOST: {{ IRONIC_HOST }}
IRONIC_DB_USER: {{ IRONIC_DB_NAME }}
IRONIC_DB_NAME: {{ IRONIC_DB_NAME }}
MARIADB_SERVICE_HOST: {{ MARIADB_SERVICE_HOST | ipwrap }}

INTERNAL_PROTOCOL: {{ INTERNAL_PROTOCOL }}
KEYSTONE_ADMIN_SERVICE_HOST: {{ KEYSTONE_ADMIN_SERVICE_HOST }}
KEYSTONE_ADMIN_SERVICE_PORT: {{ KEYSTONE_ADMIN_SERVICE_PORT }}

IRONIC_KEYSTONE_USER: {{ IRONIC_KEYSTONE_USER }}
SERVICE_TENANT_NAME: {{ SERVICE_TENANT_NAME }}

# TODO: Change internal_lb_vip_address to IRONIC_API_SERVICE_HOST when ironic network uses IPv6 addresses
IRONIC_API_SERVICE_HOST: {{ internal_lb_vip_address }}
IRONIC_API_PORT: {{ IRONIC_API_PORT }}
GLANCE_API_SERVICE_HOST: {{ GLANCE_API_SERVICE_HOST }}
NEUTRON_SERVER_SERVICE_HOST: {{ NEUTRON_SERVER_SERVICE_HOST }}
NEUTRON_SERVER_PORT: {{ NEUTRON_SERVER_PORT }}
NEUTRON_URL_TIMEOUT: {{ NEUTRON_URL_TIMEOUT }}

ENABLED_NETWORK_INTERFACES: {{ ENABLED_NETWORK_INTERFACES }}
DEFAULT_NETWORK_INTERFACE: {{ DEFAULT_NETWORK_INTERFACE }}
CLEANING_NETWORK_UUID: {{ IRONIC_PROVISION_NETWORK_ID }}
PROVISIONING_NETWORK_UUID: {{ IRONIC_PROVISION_NETWORK_ID }}

TFTP_ROOT: {{ IRONIC_VOLUME }}/tftpboot
HTTP_ROOT: {{ IRONIC_VOLUME }}/httpboot
HTTP_URL: http://{{ IRONIC_HOST }}:{{ IRONIC_PXE_HTTP_PORT }}

{% if VAULT is defined and VAULT.enabled == True %}
# VAULT
VAULT_TOKEN: {{ TOKEN }}
MGMT_IP: {{ build_node_ip | ipwrap }}
PASSWORD_VARS: {{ PASSWORD_VARS }}
{% else %}
IRONIC_DB_PASSWORD: {{ IRONIC_DB_PASSWORD }}
IRONIC_KEYSTONE_PASSWORD: {{ IRONIC_KEYSTONE_PASSWORD }}
RABBITMQ_PASSWORD: {{ RABBITMQ_PASSWORD }}
{% endif %}
