VERBOSE_LOGGING: {{ IRONIC_VERBOSE_LOGGING }}
DEBUG_LOGGING: {{ IRONIC_DEBUG_LOGGING }}
RABBITMQ_HOSTS: "{{ RABBITMQ_HOSTS }}"
IRONIC_HOST: {{ IRONIC_HOST }}
IRONIC_DB_USER: {{ IRONIC_DB_USER }}
IRONIC_DB_NAME: {{ IRONIC_DB_NAME }}
MARIADB_SERVICE_HOST: {{ MARIADB_SERVICE_HOST | ipwrap }}

KEYSTONE_PUBLIC_SERVICE_HOST: "{{ KEYSTONE_PUBLIC_SERVICE_HOST }}"
KEYSTONE_PUBLIC_SERVICE_PORT: "{{ KEYSTONE_PUBLIC_SERVICE_PORT }}"
KEYSTONE_ADMIN_SERVICE_HOST: "{{ KEYSTONE_ADMIN_SERVICE_HOST }}"
KEYSTONE_ADMIN_SERVICE_PORT: "{{ KEYSTONE_ADMIN_SERVICE_PORT }}"
INTERNAL_PROTOCOL: {{ INTERNAL_PROTOCOL }}

IRONIC_KEYSTONE_USER: {{ IRONIC_KEYSTONE_USER }}
SERVICE_TENANT_NAME: {{ SERVICE_TENANT_NAME }}

{% if VAULT is defined and VAULT.enabled == True %}
# VAULT
VAULT_TOKEN: {{ TOKEN }}
MGMT_IP: {{ build_node_ip | ipwrap }}
PASSWORD_VARS: {{ PASSWORD_VARS }}
{% else %}
IRONIC_DB_PASSWORD: {{ IRONIC_DB_PASSWORD }}
IRONIC_KEYSTONE_PASSWORD: {{ IRONIC_KEYSTONE_PASSWORD }}
RABBITMQ_PASSWORD: {{ RABBITMQ_PASSWORD }}
{% endif %}
