ADMIN_USER: {{ ADMIN_USER }}
ADMIN_TENANT_NAME: {{ ADMIN_TENANT_NAME }}
SERVICE_TENANT_NAME: {{ SERVICE_TENANT_NAME }}
NOVA_DB_USER: {{ NOVA_DB_USER }}
NOVA_DB_NAME: {{ NOVA_DB_NAME }}
NOVA_API_DB_NAME: {{ NOVA_API_DB_NAME }}
MARIADB_SERVICE_HOST: {{ MARIADB_SERVICE_HOST | ipwrap }}
NOVA_KEYSTONE_USER: {{ NOVA_KEYSTONE_USER }}
NOVA_PLACEMENT_USER: {{ NOVA_PLACEMENT_USER }}
KEYSTONE_API_VERSION: {{ KEYSTONE_API_VERSION }}
KEYSTONE_PUBLIC_SERVICE_HOST: {{ KEYSTONE_PUBLIC_SERVICE_HOST }}
KEYSTONE_PUBLIC_SERVICE_PORT: {{ KEYSTONE_PUBLIC_SERVICE_PORT }}
KEYSTONE_ADMIN_SERVICE_HOST: {{ KEYSTONE_ADMIN_SERVICE_HOST }}
KEYSTONE_ADMIN_SERVICE_PORT: {{ KEYSTONE_ADMIN_SERVICE_PORT }}
RABBITMQ_USER: {{ RABBITMQ_USER }}
RABBITMQ_HOSTS: "{{ RABBITMQ_HOSTS }}"
GLANCE_API_SERVICE_HOST: {{ GLANCE_API_SERVICE_HOST }}
NETWORK_MANAGER: {{ NETWORK_MANAGER }}
PUBLIC_INTERFACE: {{ PUBLIC_INTERFACE }}
PUBLIC_PROTOCOL: {{ PUBLIC_PROTOCOL }}
INTERNAL_PROTOCOL: {{ INTERNAL_PROTOCOL }}
FLAT_INTERFACE: {{ FLAT_INTERFACE }}
NEUTRON_SHARED_SECRET: {{ NEUTRON_SHARED_SECRET }}
NEUTRON_URL: {{ NEUTRON_URL }}
NEUTRON_KEYSTONE_USER: {{ NEUTRON_KEYSTONE_USER }}
METADATA_SHARED_SECRET: {{ METADATA_SHARED_SECRET }}
METADATA_PROXY_SHARED_SECRET: {{ METADATA_PROXY_SHARED_SECRET }}
IRONIC_USERNAME: {{ IRONIC_KEYSTONE_USER }}
IRONIC_API_SERVICE_HOST: {{ IRONIC_API_SERVICE_HOST }}
IRONIC_API_PORT: {{ IRONIC_API_PORT }}
VERBOSE_LOGGING: {{ NOVA_VERBOSE_LOGGING }}
DEBUG_LOGGING: {{ NOVA_DEBUG_LOGGING }}
LOGGING_FORMAT_PLAIN: "{{ LOGGING_FORMAT_PLAIN }}"
LOGGING_FORMAT_JSON: "{{ LOGGING_FORMAT_JSON }}"
NOVA_CPU_ALLOCATION_RATIO: {{ IRONIC_NOVA_CPU_ALLOCATION_RATIO }}
NOVA_RAM_ALLOCATION_RATIO: {{ IRONIC_NOVA_RAM_ALLOCATION_RATIO }}
NOVA_HOST: {{ NOVA_HOST }}
HOSTNAME: ironic.{{ ansible_hostname }}
NOVA_CONFIG_SCRIPT_PATH: {{ docker.ironic_nova_compute.host_data_dir }}
COMPUTE_DRIVER: {{ COMPUTE_DRIVER }}
RES_SYS_MEM: 0
NOVA_API_SERVICE_HOST: {{ NOVA_API_SERVICE_HOST }}
NOVA_EC2_API_SERVICE_HOST: {{ NOVA_EC2_API_SERVICE_HOST }}
SECRET_UUID: {{ SECRET_UUID }}
CEPH_CINDER_USER: {{ CEPH_CINDER_USER }}
MEMCACHED_SERVERS: "{{ MEMCACHED_SERVERS }}"
MECHANISM_DRIVERS: "{{ MECHANISM_DRIVERS }}"
ENABLE_JUMBO_FRAMES: "{{ ENABLE_JUMBO_FRAMES | default(False) }}"
MAX_MTU_SIZE: "{{ MAX_MTU_SIZE }}"

{% if VAULT is defined and VAULT.enabled == True %}
# VAULT
VAULT_TOKEN: {{ TOKEN }}
MGMT_IP: {{ build_node_ip | ipwrap }}
PASSWORD_VARS: {{ PASSWORD_VARS }}
{% else %}
ADMIN_USER_PASSWORD: {{ ADMIN_USER_PASSWORD }}
DB_ROOT_PASSWORD: {{ DB_ROOT_PASSWORD }}
NOVA_DB_PASSWORD: {{ NOVA_DB_PASSWORD }}
NOVA_KEYSTONE_PASSWORD: {{ NOVA_KEYSTONE_PASSWORD }}
NEUTRON_KEYSTONE_PASSWORD: {{ NEUTRON_KEYSTONE_PASSWORD }}
IRONIC_KEYSTONE_PASSWORD: {{ IRONIC_KEYSTONE_PASSWORD }}
RABBITMQ_PASSWORD: {{ RABBITMQ_PASSWORD }}
{% endif %}

WORKERS: {{ WORKERS }}
