ADMIN_USER: {{ ADMIN_USER }}
ADMIN_TENANT_NAME: {{ ADMIN_TENANT_NAME }}
SERVICE_TENANT_NAME: {{ SERVICE_TENANT_NAME }}
GLANCE_DB_NAME: {{ GLANCE_DB_NAME }}
GLANCE_DB_USER: {{ GLANCE_DB_USER }}
GLANCE_KEYSTONE_USER: {{ GLANCE_KEYSTONE_USER }}
MARIADB_SERVICE_HOST: {{ MARIADB_SERVICE_HOST | ipwrap }}
KEYSTONE_PUBLIC_SERVICE_HOST: {{ KEYSTONE_PUBLIC_SERVICE_HOST }}
KEYSTONE_PUBLIC_SERVICE_PORT: {{ KEYSTONE_PUBLIC_SERVICE_PORT }}
KEYSTONE_ADMIN_SERVICE_HOST: {{ KEYSTONE_ADMIN_SERVICE_HOST }}
KEYSTONE_ADMIN_SERVICE_PORT: {{ KEYSTONE_ADMIN_SERVICE_PORT }}
PUBLIC_PROTOCOL: {{ PUBLIC_PROTOCOL }}
INTERNAL_PROTOCOL: {{ INTERNAL_PROTOCOL }}
RABBITMQ_USER: {{ RABBITMQ_USER }}
RABBITMQ_PORT: {{ RABBITMQ_PORT }}
RABBITMQ_HOSTS: {{ RABBITMQ_HOSTS }}
GLANCE_HOST: {{ GLANCE_HOST }}
GLANCE_REGISTRY_HOST: {{ GLANCE_REGISTRY_HOST }}
GLANCE_CONFIG_SCRIPT_PATH: {{ docker.glance_registry.host_data_dir }}
# Logging.
VERBOSE_LOGGING: {{ GLANCE_VERBOSE_LOGGING }}
DEBUG_LOGGING: {{ GLANCE_DEBUG_LOGGING }}
RBD_POOL: {{ GLANCE_RBD_POOL }}
CLUSTER_ID: {{ CLUSTER_ID }}
MON_HOSTS: {{ MON_HOSTS }}
MON_MEMBERS: {{ MON_MEMBERS }}
CLIENT_KEY: {{ GLANCE_CLIENT_KEY }}
STORE_BACKEND: {{ STORE_BACKEND }}
CEPH_GLANCE_USER: {{ CEPH_GLANCE_USER }}
MEMCACHED_SERVERS: {{ MEMCACHED_SERVERS }}
{% if VAULT is defined and VAULT.enabled == True %}
# Vault
VAULT_TOKEN: {{ TOKEN }}
MGMT_IP: {{ build_node_ip | ipwrap }}
PASSWORD_VARS: {{ PASSWORD_VARS }}
{% else %}
ADMIN_USER_PASSWORD: {{ ADMIN_USER_PASSWORD }}
GLANCE_DB_PASSWORD: {{ GLANCE_DB_PASSWORD }}
DB_ROOT_PASSWORD: {{ DB_ROOT_PASSWORD }}
GLANCE_KEYSTONE_PASSWORD: {{ GLANCE_KEYSTONE_PASSWORD }}
RABBITMQ_PASSWORD: {{ RABBITMQ_PASSWORD }}
{% endif %}
CEILOMETER_ENABLED: {% if NFVIMON is defined or (OPTIONAL_SERVICE_LIST is defined and 'ceilometer' in OPTIONAL_SERVICE_LIST) -%} True {%- else -%} False {%- endif %}

WORKERS: {{ WORKERS }}
