{
  "vhosts": [
    {"name": "/"}
  ],
  "users": [
    {"name": "{{ RABBITMQ_USER }}", "password": "{{ RABBITMQ_PASSWORD }}", "tags": "administrator"}
  ],
  "permissions": [
    {"user": "{{ RABBITMQ_USER }}", "vhost": "/", "configure": ".*", "write": ".*", "read": ".*"}
  ],
  "policies":[
    {"vhost": "/", "name": "ha-all", "pattern": "^(?!amq\.).*", "apply-to": "all", "definition": {"ha-mode":"all", "ha-sync-mode":"automatic"}, "priority":0}
  ]
}
