[Unit]
Description=RabbitMQ Docker
Requires=docker-iptables.service
After=docker-iptables.service

[Service]
Restart={{ RESTART_OPTION }}
RestartSec=5
StartLimitInterval={{ RESTART_INTERVAL }}
StartLimitBurst={{ RESTART_LIMIT }}
KillMode={{ KILLMODE }}
ExecStart=/usr/bin/docker start -a rabbitmq_{{ docker.rabbitmq.image_tag }}
ExecStop=/usr/bin/docker exec rabbitmq_{{ docker.rabbitmq.image_tag }} rabbitmqctl stop
ExecStop=/usr/bin/docker stop -t 8 rabbitmq_{{ docker.rabbitmq.image_tag }}

[Install]
WantedBy=multi-user.target
