RABBITMQ_USER: {{ RABBITMQ_USER }}
RABBITMQ_LOG_BASE: {{ RABBITMQ_LOG_BASE }}
RABBITMQ_PORT: {{ RABBITMQ_PORT }}
RABBITMQ_NODES: "{{ RABBITMQ_NODES }}"
RABBITMQ_SERVICE_HOST: {{ RABBITMQ_SERVICE_HOST }}
RABBITMQ_CLUSTER_PARTITION_HANDLING: {{ RABBITMQ_CLUSTER_PARTITION_HANDLING }}
{% if VAULT is defined and VAULT.enabled == True %}
# VAULT
VAULT_TOKEN: {{ TOKEN }}
MGMT_IP: {{ build_node_ip | ipwrap }}
PASSWORD_VARS: {{ PASSWORD_VARS }}
{% else %}
RABBITMQ_PASSWORD: {{ RABBITMQ_PASSWORD }}
RABBITMQ_ERLANG_COOKIE: {{ RABBITMQ_ERLANG_COOKIE }}
{% endif %}
