ADMIN_USER: {{ ADMIN_USER }}
ADMIN_TENANT_NAME: {{ ADMIN_TENANT_NAME }}
SERVICE_TENANT_NAME: {{ SERVICE_TENANT_NAME }}
CINDER_DB_NAME: {{ CINDER_DB_NAME }}
CINDER_DB_USER: {{ CINDER_DB_USER }}
CINDER_KEYSTONE_USER: {{ CINDER_KEYSTONE_USER }}
CINDER_HOST: {{ CINDER_HOST }}
RABBITMQ_PORT: {{ RABBITMQ_PORT }}
RABBITMQ_HOSTS: {{ RABBITMQ_HOSTS }}
RABBITMQ_USER: {{ RABBITMQ_USER }}
MARIADB_SERVICE_HOST: {{ MARIADB_SERVICE_HOST | ipwrap }}
VERBOSE_LOGGING: {{ CINDER_VERBOSE_LOGGING }}
DEBUG_LOGGING: {{ CINDER_DEBUG_LOGGING }}
KEYSTONE_PUBLIC_SERVICE_HOST: {{ KEYSTONE_PUBLIC_SERVICE_HOST }}
KEYSTONE_PUBLIC_SERVICE_PORT: {{ KEYSTONE_PUBLIC_SERVICE_PORT }}
KEYSTONE_ADMIN_SERVICE_HOST: {{ KEYSTONE_ADMIN_SERVICE_HOST }}
KEYSTONE_ADMIN_SERVICE_PORT: {{ KEYSTONE_ADMIN_SERVICE_PORT }}
CINDER_API_SERVICE_HOST: {{ CINDER_API_SERVICE_HOST }}
GLANCE_API_SERVICE_HOST: {{ GLANCE_API_SERVICE_HOST }}
GLANCE_API_PORT: {{ GLANCE_API_PORT }}
PUBLIC_PROTOCOL: {{ PUBLIC_PROTOCOL }}
INTERNAL_PROTOCOL: {{ INTERNAL_PROTOCOL }}
VOLUME_GROUP: {{ VOLUME_GROUP }}
VOLUME_DRIVER: {{ VOLUME_DRIVER }}
RBD_POOL: {{ CINDER_RBD_POOL }}
SSD_RBD_POOL: {{ CINDER_SSD_RBD_POOL }}
CLUSTER_ID: {{ CLUSTER_ID }}
MON_HOSTS: {{ MON_HOSTS }}
MON_MEMBERS: {{ MON_MEMBERS }}
CLIENT_KEY: {{ CINDER_CLIENT_KEY }}
SECRET_UUID: {{ SECRET_UUID }}
CEPH_CINDER_USER: {{ CEPH_CINDER_USER }}
CINDER_CONFIG_SCRIPT_PATH: {{ docker.cinder_volume.host_data_dir }}
{% if SOLIDFIRE is defined %}
SOLIDFIRE_MVIP: {{ SOLIDFIRE.cluster_mvip }}
SOLIDFIRE_SVIP: {{ SOLIDFIRE.cluster_svip }}
SOLIDFIRE_USERNAME: {{ SOLIDFIRE.admin_username }}
SOLIDFIRE_PASSWORD: '{{ SOLIDFIRE.admin_password }}'
ENABLE_SOLIDFIRE_CINDER: True
{% endif %}
{% if ZADARA is defined %}
ZADARA_VPSA_HOST: {{ ZADARA.vpsa_host }}
ZADARA_VPSA_POOL: {{ ZADARA.vpsa_poolname }}
ZADARA_ACCESS_KEY: {{ ZADARA.access_key }}
ENABLE_ZADARA_CINDER: True
{% endif %}
{% if NETAPP is defined %}
SERVER_HOSTNAME: {{ NETAPP.server_hostname }}
SERVER_PORT: {{ NETAPP.server_port }}
TRANSPORT_TYPE: {{ NETAPP.transport_type }}
USERNAME: {{ NETAPP.username }}
PASSWORD: {{ NETAPP.password }}
VSERVER: {{ NETAPP.vserver }}
NFS_SHARES: {{ NETAPP.cinder_nfs_server }}:{{NETAPP.cinder_nfs_path }}
{% endif %}
MEMCACHED_SERVERS: {{ MEMCACHED_SERVERS }}
CEILOMETER_ENABLED: {% if NFVIMON is defined or (OPTIONAL_SERVICE_LIST is defined and 'ceilometer' in OPTIONAL_SERVICE_LIST) -%} True {%- else -%} False {%- endif %}

NFVIMON: {{ nfvimon }}
{% for server in SERVERS  %}
{% if SERVERS[server]['hardware_info'] is defined %}
{% if SERVERS[server]['hardware_info']['osd_disk_type'] is defined %}
{% if SERVERS[server]['hardware_info']['osd_disk_type'] == "SSD" %}
ENABLE_CINDER_SSD: True
{% endif %}
{% endif %}
{% endif %}
{% endfor %}
{% if VAULT is defined and VAULT.enabled == True %}
# VAULT
VAULT_TOKEN: {{ TOKEN }}
MGMT_IP: {{ build_node_ip | ipwrap }}
PASSWORD_VARS: {{ PASSWORD_VARS }}
{% else %}
ADMIN_USER_PASSWORD: {{ ADMIN_USER_PASSWORD }}
CINDER_DB_PASSWORD: {{ CINDER_DB_PASSWORD }}
DB_ROOT_PASSWORD: {{ DB_ROOT_PASSWORD }}
CINDER_KEYSTONE_PASSWORD: {{ CINDER_KEYSTONE_PASSWORD }}
RABBITMQ_PASSWORD: {{ RABBITMQ_PASSWORD }}
VOLUME_ENCRYPTION_KEY: {{ VOLUME_ENCRYPTION_KEY }}
{% endif %}
WORKERS: {{ WORKERS }}
CINDER_INTERNAL_TENANT_ID: {{ tenant_uuid }}
CINDER_INTERNAL_USER_ID: {{ user_uuid }}
CINDER_CACHE_MAX_SIZE: {{ CINDER_CACHE_MAX_SIZE }}
CINDER_CACHE_MAX_COUNT: {{ CINDER_CACHE_MAX_COUNT }}
