ADMIN_USER: {{ ADMIN_USER }}
ADMIN_TENANT_NAME: {{ ADMIN_TENANT_NAME }}

GNOCCHI_DB_USER: {{ GNOCCHI_DB_USER }}
GNOCCHI_DB_NAME: {{ GNOCCHI_DB_NAME }}
GNOCCHI_KEYSTONE_USER: {{ GNOCCHI_KEYSTONE_USER }}
GNOCCHI_API_HOST: {{ GNOCCHI_API_HOST }}
GNOCCHI_API_PORT: {{ GNOCCHI_API_PORT }}

RABBITMQ_USER: {{ RABBITMQ_USER }}
RABBITMQ_PORT: {{ RABBITMQ_PORT }}
RABBITMQ_HOSTS: "{{ RABBITMQ_HOSTS }}"

KEYSTONE_ADMIN_SERVICE_HOST: {{ KEYSTONE_ADMIN_SERVICE_HOST }}
KEYSTONE_ADMIN_SERVICE_PORT: {{ KEYSTONE_ADMIN_SERVICE_PORT }}
KEYSTONE_PUBLIC_SERVICE_HOST: {{ KEYSTONE_PUBLIC_SERVICE_HOST }}
KEYSTONE_PUBLIC_SERVICE_PORT: {{ KEYSTONE_PUBLIC_SERVICE_PORT }}
KEYSTONE_REGION: "{{ KEYSTONE_REGION }}"

PUBLIC_PROTOCOL: {{ PUBLIC_PROTOCOL }}
SERVICE_TENANT_NAME: {{ SERVICE_TENANT_NAME }}
MEMCACHED_SERVERS: {{ MEMCACHED_SERVERS }}
MARIADB_SERVICE_HOST: {{ MARIADB_SERVICE_HOST | ipwrap }}

VERBOSE_LOGGING: {{ GNOCCHI_VERBOSE_LOGGING }}
DEBUG_LOGGING: {{ GNOCCHI_DEBUG_LOGGING }}

NFVIMON: {{ nfvimon }}

CLUSTER_ID: {{ CLUSTER_ID }}
MON_HOSTS: {{ MON_HOSTS }}
MON_MEMBERS: {{ MON_MEMBERS }}
GNOCCHI_RBD_POOL: {{ CEPH_GNOCCHI_USER }}
GNOCCHI_STORE_BACKEND: {{ GNOCCHI_STORE_BACKEND }}
GNOCCHI_CLIENT_KEY: "{{ GNOCCHI_CLIENT_KEY }}"
CEPH_GNOCCHI_USER: {{ CEPH_GNOCCHI_USER }}

{% if VAULT is defined and VAULT.enabled == True %}
# VAULT
VAULT_TOKEN: {{ TOKEN }}
MGMT_IP: {{ build_node_ip | ipwrap }}
PASSWORD_VARS: {{ PASSWORD_VARS }}
{% else %}
ADMIN_USER_PASSWORD: {{ ADMIN_USER_PASSWORD }}
GNOCCHI_DB_PASSWORD: {{ GNOCCHI_DB_PASSWORD }}
DB_ROOT_PASSWORD: {{ DB_ROOT_PASSWORD }}
GNOCCHI_KEYSTONE_PASSWORD: {{ GNOCCHI_KEYSTONE_PASSWORD }}
RABBITMQ_PASSWORD: {{ RABBITMQ_PASSWORD }}
{% endif %}
