VERBOSE_LOGGING: "{{ NEUTRON_VERBOSE_LOGGING }}"
DEBUG_LOGGING: "{{ NEUTRON_DEBUG_LOGGING }}"
LOGGING_FORMAT_PLAIN: "{{ LOGGING_FORMAT_PLAIN }}"
LOGGING_FORMAT_JSON: "{{ LOGGING_FORMAT_JSON }}"
MECHANISM_DRIVERS: "{{ MECHANISM_DRIVERS }}"
RABBITMQ_HOSTS: {{ RABBITMQ_HOSTS }}
{% if VAULT is defined and VAULT.enabled == True %}
# VAULT
VAULT_TOKEN: {{ TOKEN }}
MGMT_IP: {{ build_node_ip | ipwrap }}
PASSWORD_VARS: {{ PASSWORD_VARS }}
{% else %}
ADMIN_USER_PASSWORD: {{ ADMIN_USER_PASSWORD }}
NEUTRON_DB_PASSWORD: {{ NEUTRON_DB_PASSWORD }}
DB_ROOT_PASSWORD: {{ DB_ROOT_PASSWORD }}
NOVA_KEYSTONE_PASSWORD: {{ NOVA_KEYSTONE_PASSWORD }}
NEUTRON_KEYSTONE_PASSWORD: {{ NEUTRON_KEYSTONE_PASSWORD }}
METADATA_PROXY_SHARED_SECRET: {{ METADATA_PROXY_SHARED_SECRET }}
RABBITMQ_PASSWORD: {{ RABBITMQ_PASSWORD }}
{% endif %}
