[Unit]
Description=Memcached Docker service
Requires=docker-iptables.service
After=docker-iptables.service

[Service]
Restart={{ RESTART_OPTION }}
RestartSec=5
StartLimitInterval={{ RESTART_INTERVAL }}
StartLimitBurst={{ RESTART_LIMIT }}
KillMode={{ KILLMODE }}
ExecStart=/usr/bin/docker start -a memcached_{{ docker.memcached.image_tag }}
ExecStop=/usr/bin/docker stop -t 8 memcached_{{ docker.memcached.image_tag }}

[Install]
WantedBy=multi-user.target
