ADMIN_USER: "{{ ADMIN_USER }}"
ADMIN_TENANT_NAME: "{{ ADMIN_TENANT_NAME }}"

CEILOMETER_API_SERVICE_HOST: {{ CEILOMETER_API_SERVICE_HOST }}
CEILOMETER_DB_NAME: {{ CEILOMETER_DB_NAME }}
CEILOMETER_DB_USER: {{ CEILOMETER_DB_USER }}
CEILOMETER_EVENTS: {{ CEILOMETER_EVENTS }}
CEILOMETER_HOST: {{ CEILOMETER_HOST }}
CEILOMETER_KEYSTONE_USER: {{ CEILOMETER_KEYSTONE_USER }}
CEILOMETER_METERING_SECRET: {{ CEILOMETER_METERING_SECRET }}
CEILOMETER_NOTIFICATION_TOPICS: {{ CEILOMETER_NOTIFICATION_TOPICS }}
CEILOMETER_POLLING_INTERVAL: {{ CEILOMETER_POLLING_INTERVAL }}

RABBITMQ_USER: {{ RABBITMQ_USER }}
RABBITMQ_PORT: {{ RABBITMQ_PORT }}
RABBITMQ_HOSTS: "{{ RABBITMQ_HOSTS }}"

KEYSTONE_ADMIN_SERVICE_HOST: {{ KEYSTONE_ADMIN_SERVICE_HOST }}
KEYSTONE_ADMIN_SERVICE_PORT: {{ KEYSTONE_ADMIN_SERVICE_PORT }}
KEYSTONE_PUBLIC_SERVICE_HOST: {{ KEYSTONE_PUBLIC_SERVICE_HOST }}
KEYSTONE_PUBLIC_SERVICE_PORT: {{ KEYSTONE_PUBLIC_SERVICE_PORT }}
KEYSTONE_REGION: "{{ KEYSTONE_REGION }}"
PUBLIC_PROTOCOL: {{ PUBLIC_PROTOCOL }}
INTERNAL_PROTOCOL: {{ INTERNAL_PROTOCOL }}
SERVICE_TENANT_NAME: {{ SERVICE_TENANT_NAME }}
MEMCACHED_SERVERS: {{ MEMCACHED_SERVERS }}
MARIADB_SERVICE_HOST: {{ MARIADB_SERVICE_HOST | ipwrap }}

VERBOSE_LOGGING: {{ CEILOMETER_VERBOSE_LOGGING }}
DEBUG_LOGGING: {{ CEILOMETER_DEBUG_LOGGING }}

{% if VAULT is defined and VAULT.enabled == True %}
# VAULT
VAULT_TOKEN: {{ TOKEN }}
MGMT_IP: {{ build_node_ip | ipwrap }}
PASSWORD_VARS: {{ PASSWORD_VARS }}
{% else %}
ADMIN_USER_PASSWORD: {{ ADMIN_USER_PASSWORD }}
CEILOMETER_DB_PASSWORD: {{ CEILOMETER_DB_PASSWORD }}
DB_ROOT_PASSWORD: {{ DB_ROOT_PASSWORD }}
CEILOMETER_KEYSTONE_PASSWORD: {{ CEILOMETER_KEYSTONE_PASSWORD }}
RABBITMQ_PASSWORD: {{ RABBITMQ_PASSWORD }}
{% endif %}

{% if NFVIMON is defined %}
NFVIMON: {{ nfvimon }}
ZENOSS_PUBLISHER: {{ NFVIMON.COLLECTOR.management_vip }}
ZENOSS_DEVICE: "openstack-{{ NFVIMON_UUID }}"
{% if NFVIMON.COLLECTOR_2 is defined %}
ZENOSS_HA_PUBLISHER: {{ NFVIMON.COLLECTOR_2.management_vip }}
{% endif %}
{% endif %}
IS_VPP: "{% if MECHANISM_DRIVERS is defined and MECHANISM_DRIVERS == "vpp" %}True{% else %}False{% endif %}"
