ADMIN_USER: {{ ADMIN_USER }}
ADMIN_TENANT_NAME: {{ ADMIN_TENANT_NAME }}
SERVICE_TENANT_NAME: {{ SERVICE_TENANT_NAME }}
NOVA_DB_USER: {{ NOVA_DB_USER }}
NOVA_DB_NAME: {{ NOVA_DB_NAME }}
NOVA_API_DB_NAME: {{ NOVA_API_DB_NAME }}
MARIADB_SERVICE_HOST: {{ MARIADB_SERVICE_HOST | ipwrap }}
NOVA_KEYSTONE_USER: {{ NOVA_KEYSTONE_USER }}
NOVA_PLACEMENT_USER: {{ NOVA_PLACEMENT_USER }}
KEYSTONE_API_VERSION: {{ KEYSTONE_API_VERSION }}
KEYSTONE_PUBLIC_SERVICE_HOST: {{ KEYSTONE_PUBLIC_SERVICE_HOST }}
KEYSTONE_PUBLIC_SERVICE_PORT: {{ KEYSTONE_PUBLIC_SERVICE_PORT }}
KEYSTONE_ADMIN_SERVICE_HOST: {{ KEYSTONE_ADMIN_SERVICE_HOST }}
KEYSTONE_ADMIN_SERVICE_PORT: {{ KEYSTONE_ADMIN_SERVICE_PORT }}
PUBLIC_PROTOCOL: {{ PUBLIC_PROTOCOL }}
RABBITMQ_USER: {{ RABBITMQ_USER }}
RABBITMQ_HOSTS: {{ RABBITMQ_HOSTS }}
GLANCE_API_SERVICE_HOST: {{ GLANCE_API_SERVICE_HOST }}
NETWORK_MANAGER: {{ NETWORK_MANAGER }}
PUBLIC_INTERFACE: {{ PUBLIC_INTERFACE }}
PUBLIC_PROTOCOL: {{ PUBLIC_PROTOCOL }}
INTERNAL_PROTOCOL: {{ INTERNAL_PROTOCOL }}
FLAT_INTERFACE: {{ FLAT_INTERFACE }}
NEUTRON_SHARED_SECRET: {{ NEUTRON_SHARED_SECRET }}
NEUTRON_URL: {{ NEUTRON_URL }}
NEUTRON_KEYSTONE_USER: {{ NEUTRON_KEYSTONE_USER }}
VERBOSE_LOGGING: {{ NOVA_VERBOSE_LOGGING }}
DEBUG_LOGGING: {{ NOVA_DEBUG_LOGGING }}
LOGGING_FORMAT_PLAIN: "{{ LOGGING_FORMAT_PLAIN }}"
LOGGING_FORMAT_JSON: "{{ LOGGING_FORMAT_JSON }}"
NOVA_CPU_ALLOCATION_RATIO: {{ nova_cpu_allocation_ratio }}
NOVA_RAM_ALLOCATION_RATIO: {{ nova_ram_allocation_ratio }}
{% if intel_sriov == true %}
VENDOR_ID: "{{ VENDOR_ID }}"
{% endif %}
{% if VAULT is defined and VAULT.enabled == True %}
# VAULT
VAULT_TOKEN: {{ TOKEN }}
MGMT_IP: {{ build_node_ip | ipwrap }}
PASSWORD_VARS: {{ PASSWORD_VARS }}
{% else %}
ADMIN_USER_PASSWORD: {{ ADMIN_USER_PASSWORD }}
NOVA_DB_PASSWORD: {{ NOVA_DB_PASSWORD }}
DB_ROOT_PASSWORD: {{ DB_ROOT_PASSWORD }}
NOVA_KEYSTONE_PASSWORD: {{ NOVA_KEYSTONE_PASSWORD }}
NEUTRON_KEYSTONE_PASSWORD: {{ NEUTRON_KEYSTONE_PASSWORD }}
METADATA_PROXY_SHARED_SECRET: {{ METADATA_PROXY_SHARED_SECRET }}
RABBITMQ_PASSWORD: {{ RABBITMQ_PASSWORD }}
{% endif %}
