[Unit]
Description=ACI Inconsistency Detector
After=docker-iptables.service
Wants=docker-aimeventpolling.service, docker-aimeventrpc.service

[Service]
Restart={{ RESTART_OPTION }}
RestartSec=5
StartLimitInterval={{ RESTART_INTERVAL }}
StartLimitBurst={{ RESTART_LIMIT }}
KillMode={{ KILLMODE }}
ExecStart=/usr/bin/docker start -a aimaid_{{ docker.aim_aid.image_tag }}
ExecStop=/usr/bin/docker stop -t 8 aimaid_{{ docker.aim_aid.image_tag }}

[Install]
WantedBy=multi-user.target
