DEFAULT_STORAGE_ENGINE: "{{ DEFAULT_STORAGE_ENGINE }}"
MARIADB_SERVICE_HOST: "{{ MARIADB_SERVICE_HOST | ipwrap }}"
CPULSE_DB_NAME: "{{ CPULSE_DB_NAME }}"
CPULSE_DB_USER: "{{ CPULSE_DB_USER }}"
ADMIN_USER: "{{ ADMIN_USER }}"
ADMIN_TENANT_NAME: "{{ ADMIN_TENANT_NAME }}"
SERVICE_TENANT_NAME: "{{ SERVICE_TENANT_NAME }}"
CLOUDPULSE_KEYSTONE_USER: "{{ CLOUDPULSE_KEYSTONE_USER }}"
CLOUDPULSE_SERVER_SERVICE_HOST: "{{ CLOUDPULSE_SERVER_SERVICE_HOST }}"
CLOUDPULSE_SERVER_BIND_IP: "{{ CLOUDPULSE_SERVER_BIND_IP }}"
VERBOSE_LOGGING: "{{ CLOUDPULSE_VERBOSE_LOGGING }}"
DEBUG_LOGGING: "{{ CLOUDPULSE_DEBUG_LOGGING }}"
KEYSTONE_PUBLIC_SERVICE_HOST: "{{ KEYSTONE_PUBLIC_SERVICE_HOST }}"
KEYSTONE_PUBLIC_SERVICE_PORT: "{{ KEYSTONE_PUBLIC_SERVICE_PORT }}"
KEYSTONE_ADMIN_SERVICE_HOST: "{{ KEYSTONE_ADMIN_SERVICE_HOST }}"
KEYSTONE_ADMIN_SERVICE_PORT: "{{ KEYSTONE_ADMIN_SERVICE_PORT }}"
PUBLIC_PROTOCOL: "{{ PUBLIC_PROTOCOL }}"
INTERNAL_PROTOCOL: {{ INTERNAL_PROTOCOL }}
{% if VAULT is defined and VAULT.enabled == True %}
# VAULT
VAULT_TOKEN: {{ TOKEN }}
MGMT_IP: {{ build_node_ip | ipwrap }}
PASSWORD_VARS: {{ PASSWORD_VARS }}
{% else %}
ADMIN_USER_PASSWORD: {{ ADMIN_USER_PASSWORD }}
CPULSE_DB_PASSWORD: {{ CPULSE_DB_PASSWORD }}
DB_ROOT_PASSWORD: {{ DB_ROOT_PASSWORD }}
CLOUDPULSE_KEYSTONE_PASSWORD: {{ CLOUDPULSE_KEYSTONE_PASSWORD }}
{% endif %}
