ADMIN_USER: {{ ADMIN_USER }}
ADMIN_TENANT_NAME: {{ ADMIN_TENANT_NAME }}
SERVICE_TENANT_NAME: {{ SERVICE_TENANT_NAME }}
CINDER_DB_NAME: {{ CINDER_DB_NAME }}
CINDER_DB_USER: {{ CINDER_DB_USER }}
CINDER_KEYSTONE_USER: {{ CINDER_KEYSTONE_USER }}
RABBITMQ_PORT: {{ RABBITMQ_PORT }}
RABBITMQ_HOSTS: {{ RABBITMQ_HOSTS }}
RABBITMQ_USER: {{ RABBITMQ_USER }}
MARIADB_SERVICE_HOST: {{ MARIADB_SERVICE_HOST | ipwrap }}
VERBOSE_LOGGING: {{ CINDER_VERBOSE_LOGGING }}
DEBUG_LOGGING: {{ CINDER_DEBUG_LOGGING }}
KEYSTONE_PUBLIC_SERVICE_HOST: {{ KEYSTONE_PUBLIC_SERVICE_HOST }}
KEYSTONE_PUBLIC_SERVICE_PORT: {{ KEYSTONE_PUBLIC_SERVICE_PORT }}
KEYSTONE_ADMIN_SERVICE_HOST: {{ KEYSTONE_ADMIN_SERVICE_HOST }}
KEYSTONE_ADMIN_SERVICE_PORT: {{ KEYSTONE_ADMIN_SERVICE_PORT }}
CINDER_API_SERVICE_HOST: {{ CINDER_API_SERVICE_HOST }}
GLANCE_API_SERVICE_HOST: {{ GLANCE_API_SERVICE_HOST }}
GLANCE_API_PORT: {{ GLANCE_API_PORT }}
PUBLIC_PROTOCOL: {{ PUBLIC_PROTOCOL }}
INTERNAL_PROTOCOL: {{ INTERNAL_PROTOCOL }}
MEMCACHED_SERVERS: {{ MEMCACHED_SERVERS }}
CEILOMETER_ENABLED: {% if NFVIMON is defined or (OPTIONAL_SERVICE_LIST is defined and 'ceilometer' in OPTIONAL_SERVICE_LIST) -%} True {%- else -%} False {%- endif %}

NFVIMON: {{ nfvimon }}
{% if VAULT is defined and VAULT.enabled == True %}
# VAULT
VAULT_TOKEN: {{ TOKEN }}
MGMT_IP: {{ build_node_ip | ipwrap }}
PASSWORD_VARS: {{ PASSWORD_VARS }}
{% else %}
ADMIN_USER_PASSWORD: {{ ADMIN_USER_PASSWORD }}
CINDER_DB_PASSWORD: {{ CINDER_DB_PASSWORD }}
DB_ROOT_PASSWORD: {{ DB_ROOT_PASSWORD }}
CINDER_KEYSTONE_PASSWORD: {{ CINDER_KEYSTONE_PASSWORD }}
RABBITMQ_PASSWORD: {{ RABBITMQ_PASSWORD }}
VOLUME_ENCRYPTION_KEY: {{ VOLUME_ENCRYPTION_KEY }}
{% endif %}
WORKERS: {{ WORKERS }}
CINDER_INTERNAL_TENANT_ID: {{ tenant_uuid }}
CINDER_INTERNAL_USER_ID: {{ user_uuid }}
