[Unit]
Description=Neutron sriov Docker
Requires=docker-iptables.service
After=docker-iptables.service
Before=docker-novacommon.service
{% if intel_sriov_vfs | int > 0 %}
{% for path in sriov_intfs.stdout_lines %}
ConditionPathExists={{ path }}
{% endfor %}
{% endif %}
{% if intel_vc_sriov_vfs | int > 0 %}
{% for path in fpga_intfs.stdout_lines %}
ConditionPathExists={{ path }}
{% endfor %}
{% endif %}

[Service]
Restart={{ RESTART_OPTION }}
RestartSec=5
StartLimitInterval={{ RESTART_INTERVAL }}
StartLimitBurst={{ RESTART_LIMIT }}
KillMode={{ KILLMODE }}
{% if intel_sriov_vfs | int > 0 %}
{% for path in sriov_intfs.stdout_lines %}
ExecStartPre=/bin/bash -c "/usr/bin/test $(/usr/bin/cat {{ path }}) -eq {{ intel_sriov_vfs }}"
{% endfor %}
{% endif %}
{% if intel_vc_sriov_vfs | int > 0 %}
{% for path in fpga_intfs.stdout_lines %}
ExecStartPre=/bin/bash -c "/usr/bin/test $(/usr/bin/cat {{ path }}) -eq {{ intel_vc_sriov_vfs }}"
{% endfor %}
{% endif %}
ExecStart=/usr/bin/docker start -a neutron_sriov_{{ docker.neutron_sriov.image_tag }}
ExecStop=/usr/bin/docker stop -t 8 neutron_sriov_{{ docker.neutron_sriov.image_tag }}

[Install]
WantedBy=multi-user.target
