ADMIN_USER: {{ ADMIN_USER }}
ADMIN_USER_PASSWORD: {{ ADMIN_USER_PASSWORD }}
ADMIN_TENANT_NAME: {{ ADMIN_TENANT_NAME }}
SERVICE_TENANT_NAME: {{ SERVICE_TENANT_NAME }}
MAGNUM_DB_NAME: {{ MAGNUM_DB_NAME }}
MAGNUM_DB_USER: {{ MAGNUM_DB_USER }}
MAGNUM_DB_PASSWORD: {{ MAGNUM_DB_PASSWORD }}
MARIADB_SERVICE_HOST: {{ MARIADB_SERVICE_HOST | ipwrap }}
DB_ROOT_PASSWORD: {{ DB_ROOT_PASSWORD }}
MAGNUM_KEYSTONE_USER: {{ MAGNUM_KEYSTONE_USER }}
MAGNUM_DOMAIN_ADMIN_PASSWORD: {{ MAGNUM_DOMAIN_ADMIN_PASSWORD }}
MAGNUM_KEYSTONE_PASSWORD: {{ MAGNUM_KEYSTONE_PASSWORD }}
KEYSTONE_REGION: {{ KEYSTONE_REGION }}
KEYSTONE_ADMIN_SERVICE_PORT: {{ KEYSTONE_ADMIN_SERVICE_PORT }}
KEYSTONE_ADMIN_SERVICE_HOST: {{ KEYSTONE_ADMIN_SERVICE_HOST }}
KEYSTONE_PUBLIC_SERVICE_HOST: {{ KEYSTONE_PUBLIC_SERVICE_HOST }}
KEYSTONE_PUBLIC_SERVICE_PORT: {{ KEYSTONE_PUBLIC_SERVICE_PORT }}
RABBITMQ_USER: {{ RABBITMQ_USER }}
RABBITMQ_PASSWORD: {{ RABBITMQ_PASSWORD }}
RABBITMQ_PORT: {{ RABBITMQ_PORT }}
RABBITMQ_HOSTS: {{ RABBITMQ_HOSTS }}
MAGNUM_API_SERVICE_HOST: {{ MAGNUM_API_SERVICE_HOST }}
MAGNUM_HOST: {{ MAGNUM_HOST }}
MAGNUM_API_PORT: {{ MAGNUM_API_PORT }}
MAGNUM_PRIMARY_NODE: {{ MAGNUM_PRIMARY_NODE }}
# Logging.
VERBOSE_LOGGING: {{ MAGNUM_VERBOSE_LOGGING }}
DEBUG_LOGGING: {{ MAGNUM_DEBUG_LOGGING }}
