[defaults]
log_path={{ log_path }}/k8s_install.log
inventory = inventory
roles_path = roles
retry_files_enabled = False
host_key_checking = False
pipelining = True
display_skipped_hosts = False
[ssh_connection]
ssh_args= -o ForwardAgent=yes
scp_if_ssh = True
