ADMIN_USER: {{ ADMIN_USER }}
ADMIN_USER_PASSWORD: {{ ADMIN_USER_PASSWORD }}
ADMIN_TENANT_NAME: {{ ADMIN_TENANT_NAME }}
SERVICE_TENANT_NAME: {{ SERVICE_TENANT_NAME }}
CINDER_DB_NAME: {{ CINDER_DB_NAME }}
CINDER_DB_USER: {{ CINDER_DB_USER }}
CINDER_DB_PASSWORD: {{ CINDER_DB_PASSWORD }}
CINDER_KEYSTONE_USER: {{ CINDER_KEYSTONE_USER }}
CINDER_KEYSTONE_PASSWORD: {{ CINDER_KEYSTONE_PASSWORD }}
RABBITMQ_PORT: {{ RABBITMQ_PORT }}
RABBITMQ_HOSTS: {{ RABBITMQ_HOSTS }}
RABBITMQ_USER: {{ RABBITMQ_USER }}
RABBITMQ_PASSWORD: {{ RABBITMQ_PASSWORD }}
DB_ROOT_PASSWORD: {{ DB_ROOT_PASSWORD }}
MARIADB_SERVICE_HOST: {{ MARIADB_SERVICE_HOST | ipwrap }}
VERBOSE_LOGGING: {{ CINDER_VERBOSE_LOGGING }}
DEBUG_LOGGING: {{ CINDER_DEBUG_LOGGING }}
KEYSTONE_PUBLIC_SERVICE_HOST: {{ KEYSTONE_PUBLIC_SERVICE_HOST }}
KEYSTONE_PUBLIC_SERVICE_PORT: {{ KEYSTONE_PUBLIC_SERVICE_PORT }}
KEYSTONE_ADMIN_SERVICE_HOST: {{ KEYSTONE_ADMIN_SERVICE_HOST }}
KEYSTONE_ADMIN_SERVICE_PORT: {{ KEYSTONE_ADMIN_SERVICE_PORT }}
CINDER_API_SERVICE_HOST: {{ CINDER_API_SERVICE_HOST }}
GLANCE_API_SERVICE_HOST: {{ GLANCE_API_SERVICE_HOST }}
GLANCE_API_PORT: {{ GLANCE_API_PORT }}
PUBLIC_PROTOCOL: {{ PUBLIC_PROTOCOL }}
INTERNAL_PROTOCOL: {{ INTERNAL_PROTOCOL }}
CINDER_BACKUP_DRIVER: {{ CINDER_BACKUP_DRIVER }}
{% if CINDER_BACKUP_DRIVER == 'cinder.backup.drivers.swift' %}
BACKUP_SWIFT_AUTH: {{ BACKUP_SWIFT_AUTH }}
BACKUP_SWIFT_AUTH_VERSION: {{ BACKUP_SWIFT_AUTH_VERSION }}
BACKUP_SWIFT_TENANT: {{ BACKUP_SWIFT_TENANT }}
BACKUP_SWIFT_USER: {{ BACKUP_SWIFT_USER }}
BACKUP_SWIFT_KEY: {{ BACKUP_SWIFT_KEY }}
BACKUP_SWIFT_CONTAINER: {{ BACKUP_SWIFT_CONTAINER }}
BACKUP_SWIFT_OBJECT_SIZE: {{ BACKUP_SWIFT_OBJECT_SIZE }}
BACKUP_SWIFT_BLOCK_SIZE: {{ BACKUP_SWIFT_BLOCK_SIZE }}
BACKUP_SWIFT_RETRY_ATTEMPTS: {{ BACKUP_SWIFT_RETRY_ATTEMPTS }}
BACKUP_SWIFT_RETRY_BACKOFF: {{ BACKUP_SWIFT_RETRY_BACKOFF }}
SWIFT_CATALOG_INFO: {{ SWIFT_CATALOG_INFO }}
KEYSTONE_CATALOG_INFO: {{ KEYSTONE_CATALOG_INFO }}
{% endif %}
CACERT_LOCATION: {{ CACERT_LOCATION }}
CACERT_FILE: {{ CACERT_FILE }}
VOLUME_GROUP: {{ VOLUME_GROUP }}
VOLUME_DRIVER: {{ VOLUME_DRIVER }}
RBD_POOL: {{ CINDER_RBD_POOL }}
CLUSTER_ID: {{ CLUSTER_ID }}
MON_HOSTS: {{ MON_HOSTS }}
MON_MEMBERS: {{ MON_MEMBERS }}
CLIENT_KEY: {{ CINDER_CLIENT_KEY }}
CEPH_CINDER_USER: {{ CEPH_CINDER_USER }}
SECRET_UUID: {{ SECRET_UUID }}
MEMCACHED_SERVERS: {{ MEMCACHED_SERVERS }}
CEILOMETER_ENABLED: {% if NFVIMON is defined or (OPTIONAL_SERVICE_LIST is defined and 'ceilometer' in OPTIONAL_SERVICE_LIST) -%} True {%- else -%} False {%- endif %}

WORKERS: {{ WORKERS }}
CINDER_INTERNAL_TENANT_ID: {{ tenant_uuid }}
CINDER_INTERNAL_USER_ID: {{ user_uuid }}
