export CALIPSO_MONGO_SERVICE_HOST="{{CALIPSO_MONGO_SERVICE_HOST}}"
export CALIPSO_MONGO_SERVICE_PORT="{{CALIPSO_MONGO_SERVICE_PORT}}"
export CALIPSO_MONGO_SERVICE_USER="{{CALIPSO_MONGO_SERVICE_USER}}"
export CALIPSO_MONGO_SERVICE_AUTH_DB="{{CALIPSO_MONGO_SERVICE_AUTH_DB}}"
export CALIPSO_API_SERVICE_BIND="[::]:{{CALIPSO_API_SERVICE_BIND_PORT}}"
export CALIPSO_API_CONFIG_DESTINATION="{{ CALIPSO_API_CONFIG_DESTINATION }}"

export CALIPSO_CERT_CFG_DIR="{{ CALIPSO_CERT_CFG_DIR }}"
export CALIPSO_CERT_FILENAME="{{ CALIPSO_CERT_FILENAME }}"

export CALIPSO_API_CONFIG_DIR="{{ CALIPSO_API_CONFIG_DIR }}"
export CALIPSO_API_CERT_CONFIG_DIR="{{ CALIPSO_API_CERT_CONFIG_DIR }}"
export CALIPSO_MONGO_CONFIG_DIR="{{ CALIPSO_MONGO_CONFIG_DIR }}"
export CALIPSO_MONGO_CERT_CONFIG_DIR="{{ CALIPSO_MONGO_CERT_CONFIG_DIR }}"
{% if CALIPSO_MONGO_SERVICE_AUTH_ENABLED is defined %}
export CALIPSO_MONGO_SERVICE_AUTH_ENABLED={{ CALIPSO_MONGO_SERVICE_AUTH_ENABLED }}
{% endif %}

{% if CALIPSO_ELASTIC_SERVICE_HOST is defined and CALIPSO_ELASTIC_SERVICE_PORT is defined %}
export CALIPSO_ELASTIC_SERVICE_HOST="{{ CALIPSO_ELASTIC_SERVICE_HOST }}"
export CALIPSO_ELASTIC_SERVICE_PORT="{{ CALIPSO_ELASTIC_SERVICE_PORT }}"
{% endif %}

{% if VAULT is defined and VAULT.enabled == True %}
export VAULT_TOKEN="{{ TOKEN }}"
export MGMT_IP="{{ build_node_ip | ipwrap }}"
export PASSWORD_VARS="{{ PASSWORD_VARS }}"
{% else %}
export CALIPSO_MONGO_SERVICE_PWD="{{CALIPSO_MONGO_SERVICE_PWD}}"
export CALIPSO_API_SERVICE_PWD="{{CALIPSO_API_SERVICE_PWD}}"
{% endif %}
