ADMIN_USER: {{ ADMIN_USER }}
ADMIN_TENANT_NAME: {{ ADMIN_TENANT_NAME }}
SERVICE_TENANT_NAME: {{ SERVICE_TENANT_NAME }}
HEAT_DB_NAME: {{ HEAT_DB_NAME }}
HEAT_DB_USER: {{ HEAT_DB_USER }}
MARIADB_SERVICE_HOST: {{ MARIADB_SERVICE_HOST | ipwrap }}
HEAT_KEYSTONE_USER: {{ HEAT_KEYSTONE_USER }}
KEYSTONE_ADMIN_SERVICE_PORT: {{ KEYSTONE_ADMIN_SERVICE_PORT }}
KEYSTONE_ADMIN_SERVICE_HOST: {{ KEYSTONE_ADMIN_SERVICE_HOST }}
KEYSTONE_PUBLIC_SERVICE_HOST: {{ KEYSTONE_PUBLIC_SERVICE_HOST }}
KEYSTONE_PUBLIC_SERVICE_PORT: {{ KEYSTONE_PUBLIC_SERVICE_PORT }}
HEAT_STACK_USER_DOMAIN_NAME: {{ HEAT_STACK_USER_DOMAIN_NAME }}
HEAT_STACK_DOMAIN_ADMIN: {{ HEAT_STACK_DOMAIN_ADMIN }}
HEAT_API_CFN_PORT: {{ HEAT_API_CFN_PORT }}
PUBLIC_PROTOCOL: {{ PUBLIC_PROTOCOL }}
INTERNAL_PROTOCOL: {{ INTERNAL_PROTOCOL }}
RABBITMQ_USER: {{ RABBITMQ_USER }}
RABBITMQ_PORT: {{ RABBITMQ_PORT }}
RABBITMQ_HOSTS: {{ RABBITMQ_HOSTS }}
HEAT_API_CFN_SERVICE_HOST: {{ HEAT_API_CFN_SERVICE_HOST }}
HEAT_HOST: {{ HEAT_HOST }}
HEAT_PRIMARY_NODE: {{ HEAT_PRIMARY_NODE }}
MEMCACHED_SERVERS: {{ MEMCACHED_SERVERS }}
# Logging.
VERBOSE_LOGGING: {{ HEAT_VERBOSE_LOGGING }}
DEBUG_LOGGING: {{ HEAT_DEBUG_LOGGING }}
{% if VAULT is defined and VAULT.enabled == True %}
# VAULT
VAULT_TOKEN: {{ TOKEN }}
MGMT_IP: {{ build_node_ip | ipwrap }}
PASSWORD_VARS: {{ PASSWORD_VARS }}
{% else %}
ADMIN_USER_PASSWORD: {{ ADMIN_USER_PASSWORD }}
HEAT_DB_PASSWORD: {{ HEAT_DB_PASSWORD }}
DB_ROOT_PASSWORD: {{ DB_ROOT_PASSWORD }}
HEAT_KEYSTONE_PASSWORD: {{ HEAT_KEYSTONE_PASSWORD }}
HEAT_STACK_DOMAIN_ADMIN_PASSWORD: {{ HEAT_STACK_DOMAIN_ADMIN_PASSWORD }}
RABBITMQ_PASSWORD: {{ RABBITMQ_PASSWORD }}
{% endif %}
CEILOMETER_ENABLED: {% if NFVIMON is defined or (OPTIONAL_SERVICE_LIST is defined and 'ceilometer' in OPTIONAL_SERVICE_LIST) -%} True {%- else -%} False {%- endif %}

WORKERS: {{ WORKERS }}
